.vs
debug
release
*.db
*.sln
*.opendb
*.stash
*.vcxproj*
Make*
*.app

hold
build
images
kernels
warps
IP
glsl
gui_src

CS470.icns
CS470.ico
CS470.png

CMakeLists.txt
CS470_common.cmake

CS470_common.pro
CS470.rc
CS470.qrc
CS470.pro

CS470_HW

hackfix.sh